<section id="fii_iimb" class="wrapper style2 container special-alt">
	<div class="row 50%">
		<div class="8u 12u(narrower)">

			<header>
				<h2>Behold the <strong>FII TEAM</strong> and then boast some stuff about the fii team</h2>
			</header>
			<p>write some lorem ipsum crap about the FII team, and the vista event, and iim bangalore. just need to gill this space up enough.just need to gill this space up enough.just need to gill this space up enough.just need to gill this space up enough.just need to gill this space up enough.just need to gill this space up enough.just need to gill this space up enough.just need to gill this space up enough.just need to gill this space up enough.</p>
			<!-- <footer>
				<ul class="buttons">
					<li><a href="#" class="button">Find Out More</a></li>
				</ul>
			</footer> -->

		</div>
		<div class="4u 12u(narrower) important(narrower)">

			<ul class="featured-icons">
				<li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
				<li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
				<li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
				<li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
				<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
				<li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
			</ul>

		</div>
	</div>
</section>