<!-- Header -->
<header id="header" class="alt">
	<h1 id="logo"><a href="/"><strong>IIMB presents </strong>VISTA '15</a></h1>
	<nav id="nav">
		<ul>
		<li><a href="index.html">DOWNLOAD APP</a></li>
		<li><a href="index.html">SHOP AT VISTA</a></li>
			<li class="submenu">
				<a href="#">LOOK AROUND</a>
				<ul>
					<li><a href="#" onclick="scrollToDiv('indigenious');">BEING INDIGENIOUS</a></li>
					<li><a href="#" onclick="scrollToDiv('fii_iimb');">THE PLACE TO 'B'</a></li>
					<li><a href="#" onclick="scrollToDiv('speakers');">SPEAKER SERIES</a></li>
					<li><a href="#" onclick="scrollToDiv('events');">EVENTS</a></li>
					<li><a href="#" onclick="scrollToDiv('rewards');">WHAT'S IN IT 4 U</a></li>
					<li><a href="#" onclick="scrollToDiv('sponsors');">SPONSORS</a></li>
				</ul>
			</li>
			<li><a href="#" class="button special">LOG IN</a></li>
		</ul>
	</nav>
</header>
