<section id="rewards" class="wrapper style3 container special">

							<header class="major">
								<h2>The biggest and the best <strong>REWARDS</strong> for any B-school event in India</h2>
							</header>

							WILL need one big collage typ reqards poster

							<footer class="major">
								<ul class="buttons">
									<li><a href="#" class="button">See More</a></li>
								</ul>
							</footer>

						</section>