<section id="sponsors" class="wrapper style3 container special">

							<header class="major">
								<h2>We love our <strong>SPONSORS</strong></h2>
							</header>

							Will need one more collage type poster with all our sponsors here !

							<footer class="major">
								<ul class="buttons">
									<li><a href="#" class="button">See More</a></li>
								</ul>
							</footer>

						</section>